<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @review.app %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @review.uid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @review.text %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Version:</strong>
  <%= @review.version %>
</p>

<p>
  <strong>Author:</strong>
  <%= @review.author %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
