<!DOCTYPE html>
<html>
<head>
  <title>ReviewManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Review Manager', apps_path, class: 'navbar-brand' %>
      </div>

      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= current_user.email %> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-messages">
            <li>
            <li class="divider"></li>
            <li>
              <%= link_to(destroy_user_session_path, method: :delete) do %>
                <%= fa_icon 'sign-out', text: 'Logout', class: 'fa-fw' %>
              <% end %>
            </li>
          </ul>
          <!-- /.dropdown-messages -->
        </li>
      </ul>
      <!-- /.navbar-top-links -->
      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
            <li>
              <%= link_to(apps_path) do %>
                <%= fa_icon 'dashboard', text: 'Apps', class: 'fa-fw' %>
              <% end %>
            </li>
          </ul>
        </div>
        <!-- /.sidebar-collapse -->
      </div>
      <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
      <%= yield %>
    </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->
</body>
</html>
